name: Test Workflow

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: List files
        run: |
          echo "=== Содержимое репозитория ==="
          ls -la
          echo "=== Папка .github ==="
          ls -la .github/
          echo "=== Папка workflows ==="
          ls -la .github/workflows/
